WebPresentacion/Service References/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:9083/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:9083/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:9083/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SBK.Servicios" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ListarRegistro_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarRegistro" />
  </wsdl:message>
  <wsdl:message name="IService1_ListarRegistro_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarRegistroResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ListarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarUsuario" />
  </wsdl:message>
  <wsdl:message name="IService1_ListarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ListarRegistroUser_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarRegistroUser" />
  </wsdl:message>
  <wsdl:message name="IService1_ListarRegistroUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarRegistroUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ValidarLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidarLogin" />
  </wsdl:message>
  <wsdl:message name="IService1_ValidarLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidarLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ID_desde_LogUser_InputMessage">
    <wsdl:part name="parameters" element="tns:ID_desde_LogUser" />
  </wsdl:message>
  <wsdl:message name="IService1_ID_desde_LogUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:ID_desde_LogUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Nombre_desde_LogUser_InputMessage">
    <wsdl:part name="parameters" element="tns:Nombre_desde_LogUser" />
  </wsdl:message>
  <wsdl:message name="IService1_Nombre_desde_LogUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:Nombre_desde_LogUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Read_InputMessage">
    <wsdl:part name="parameters" element="tns:Read" />
  </wsdl:message>
  <wsdl:message name="IService1_Read_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Create_InputMessage">
    <wsdl:part name="parameters" element="tns:Create" />
  </wsdl:message>
  <wsdl:message name="IService1_Create_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="IService1_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IService1_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_R_CantidadUsuarios_InputMessage">
    <wsdl:part name="parameters" element="tns:R_CantidadUsuarios" />
  </wsdl:message>
  <wsdl:message name="IService1_R_CantidadUsuarios_OutputMessage">
    <wsdl:part name="parameters" element="tns:R_CantidadUsuariosResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_R_CantidadEstudiante_InputMessage">
    <wsdl:part name="parameters" element="tns:R_CantidadEstudiante" />
  </wsdl:message>
  <wsdl:message name="IService1_R_CantidadEstudiante_OutputMessage">
    <wsdl:part name="parameters" element="tns:R_CantidadEstudianteResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_R_CantidadFuncionario_InputMessage">
    <wsdl:part name="parameters" element="tns:R_CantidadFuncionario" />
  </wsdl:message>
  <wsdl:message name="IService1_R_CantidadFuncionario_OutputMessage">
    <wsdl:part name="parameters" element="tns:R_CantidadFuncionarioResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_R_UsuarioMasActivo_InputMessage">
    <wsdl:part name="parameters" element="tns:R_UsuarioMasActivo" />
  </wsdl:message>
  <wsdl:message name="IService1_R_UsuarioMasActivo_OutputMessage">
    <wsdl:part name="parameters" element="tns:R_UsuarioMasActivoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_R_CantidadRegistrosMaxUser_InputMessage">
    <wsdl:part name="parameters" element="tns:R_CantidadRegistrosMaxUser" />
  </wsdl:message>
  <wsdl:message name="IService1_R_CantidadRegistrosMaxUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:R_CantidadRegistrosMaxUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_R_PromedioDeRegistros_InputMessage">
    <wsdl:part name="parameters" element="tns:R_PromedioDeRegistros" />
  </wsdl:message>
  <wsdl:message name="IService1_R_PromedioDeRegistros_OutputMessage">
    <wsdl:part name="parameters" element="tns:R_PromedioDeRegistrosResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarRegistro">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ListarRegistro" message="tns:IService1_ListarRegistro_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ListarRegistroResponse" message="tns:IService1_ListarRegistro_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ListarUsuario" message="tns:IService1_ListarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ListarUsuarioResponse" message="tns:IService1_ListarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarRegistroUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ListarRegistroUser" message="tns:IService1_ListarRegistroUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ListarRegistroUserResponse" message="tns:IService1_ListarRegistroUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidarLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ValidarLogin" message="tns:IService1_ValidarLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ValidarLoginResponse" message="tns:IService1_ValidarLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ID_desde_LogUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ID_desde_LogUser" message="tns:IService1_ID_desde_LogUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ID_desde_LogUserResponse" message="tns:IService1_ID_desde_LogUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Nombre_desde_LogUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Nombre_desde_LogUser" message="tns:IService1_Nombre_desde_LogUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Nombre_desde_LogUserResponse" message="tns:IService1_Nombre_desde_LogUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Read">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Read" message="tns:IService1_Read_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ReadResponse" message="tns:IService1_Read_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Create">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Create" message="tns:IService1_Create_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CreateResponse" message="tns:IService1_Create_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Update" message="tns:IService1_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateResponse" message="tns:IService1_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Delete" message="tns:IService1_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteResponse" message="tns:IService1_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="R_CantidadUsuarios">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/R_CantidadUsuarios" message="tns:IService1_R_CantidadUsuarios_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/R_CantidadUsuariosResponse" message="tns:IService1_R_CantidadUsuarios_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="R_CantidadEstudiante">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/R_CantidadEstudiante" message="tns:IService1_R_CantidadEstudiante_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/R_CantidadEstudianteResponse" message="tns:IService1_R_CantidadEstudiante_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="R_CantidadFuncionario">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/R_CantidadFuncionario" message="tns:IService1_R_CantidadFuncionario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/R_CantidadFuncionarioResponse" message="tns:IService1_R_CantidadFuncionario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="R_UsuarioMasActivo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/R_UsuarioMasActivo" message="tns:IService1_R_UsuarioMasActivo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/R_UsuarioMasActivoResponse" message="tns:IService1_R_UsuarioMasActivo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="R_CantidadRegistrosMaxUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/R_CantidadRegistrosMaxUser" message="tns:IService1_R_CantidadRegistrosMaxUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/R_CantidadRegistrosMaxUserResponse" message="tns:IService1_R_CantidadRegistrosMaxUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="R_PromedioDeRegistros">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/R_PromedioDeRegistros" message="tns:IService1_R_PromedioDeRegistros_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/R_PromedioDeRegistrosResponse" message="tns:IService1_R_PromedioDeRegistros_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarRegistro">
      <soap:operation soapAction="http://tempuri.org/IService1/ListarRegistro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarUsuario">
      <soap:operation soapAction="http://tempuri.org/IService1/ListarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarRegistroUser">
      <soap:operation soapAction="http://tempuri.org/IService1/ListarRegistroUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidarLogin">
      <soap:operation soapAction="http://tempuri.org/IService1/ValidarLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ID_desde_LogUser">
      <soap:operation soapAction="http://tempuri.org/IService1/ID_desde_LogUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Nombre_desde_LogUser">
      <soap:operation soapAction="http://tempuri.org/IService1/Nombre_desde_LogUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Read">
      <soap:operation soapAction="http://tempuri.org/IService1/Read" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Create">
      <soap:operation soapAction="http://tempuri.org/IService1/Create" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/IService1/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IService1/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="R_CantidadUsuarios">
      <soap:operation soapAction="http://tempuri.org/IService1/R_CantidadUsuarios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="R_CantidadEstudiante">
      <soap:operation soapAction="http://tempuri.org/IService1/R_CantidadEstudiante" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="R_CantidadFuncionario">
      <soap:operation soapAction="http://tempuri.org/IService1/R_CantidadFuncionario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="R_UsuarioMasActivo">
      <soap:operation soapAction="http://tempuri.org/IService1/R_UsuarioMasActivo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="R_CantidadRegistrosMaxUser">
      <soap:operation soapAction="http://tempuri.org/IService1/R_CantidadRegistrosMaxUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="R_PromedioDeRegistros">
      <soap:operation soapAction="http://tempuri.org/IService1/R_PromedioDeRegistros" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:9083/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>